

body {
  font-family: helvetica;
  margin: 30px;
  background-color:lightsteelblue;
}




section {
  /*font-size:large; */
  text-align: justify;
  /*text-align: left;*/
}



article {
  width: 90%;
  max-width: 1000px;
  padding: 20px;
  margin: 0px auto;
}

span {
  padding: 20px;
  margin: 20px auto;
}

h2 {
  text-align: center;
  padding: 40px 0px 0px 0px;
  font-size: 3em;
}


.centrar {
  width: 600px;
  margin-left: auto;
  margin-right: auto;
}



footer {
  font-size: small;
  text-align: center;
}


.linea {
  border-top: 1px solid lightgrey;
  height: 2px;
  max-width: 360px;
  padding: 0;
  margin: 20px auto 0 auto;
}



details {
  padding: 15px;
  background-color: #f6f7f8;
  margin-bottom: 20px;
  border-radius: 20px;
}

.marco {
  padding: 15px;
  background-color: #f6f7f8;
  margin-bottom: 20px;
  border-radius: 20px;
}



.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.8);
  max-width: auto;
  margin: auto;
  text-align: center;
  font-family: arial;

  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 50px;
}

.enlace { 
  text-decoration: none; 
  color: blue;
}




