<!--<h3>Operaciones en construccion...</h3>-->
<h5>Operaciones</h5>
    
<div class="row">

  <div class="col-md-5">

    <div class="container marco">
       
      <form>
        <div class="form-group">
          <label for="name">Comprar</label>
          <input type="text" class="form-control " id="name" required>
        </div>

        <div class="form-group">
          <label for="power">Moneda</label>
          <select class="form-control w-25" id="power" required>
            <option *ngFor="let pow of moneda" [value]="pow">{{pow}}</option>
          </select>
        </div>

        <div class="form-group">
          <label for="power">Forma de Pago</label>
          <select class="form-control w-25" id="power" required>
            <option *ngFor="let pow of formaPago" [value]="pow">{{pow}}</option>
          </select>
        </div>
      
        <button type="submit" class="btn btn-success">Comprar</button>
        <br>
      </form> 
  </div>

  <br>
  <div class="container marco ">
        
        <form>
          <div class="form-group">
            <label for="name">Convertir</label>
            <input type="text" class="form-control " id="name" required>
          </div>
  
         
  
          <div class="form-group">
            <label for="power">Moneda Origen</label>
            <select class="form-control w-25" id="power" required>
              <option *ngFor="let pow of moneda" [value]="pow">{{pow}}</option>
            </select>
          </div>
          <div class="form-group">
            <label for="power">Moneda Destino</label>
            <select class="form-control w-25" id="power" required>
              <option *ngFor="let pow of moneda" [value]="pow">{{pow}}</option>
            </select>
          </div>
  
          <button type="submit" class="btn btn-success">Convertir</button>
          <br>
        </form>
    </div>


    </div>

<!---->

    <div class="col-md-5">
      <div class="container marco">
        
        <form>
          <div class="form-group">
            <label for="name">Enviar</label>
            <input type="text" class="form-control " id="name" required>
          </div>
  
          <div class="form-group">
            <label for="power">Moneda</label>
            <select class="form-control w-25" id="power" required>
              <option *ngFor="let pow of moneda" [value]="pow">{{pow}}</option>
            </select>
          </div>

          <div class="form-group">
            <label for="name">Direccion</label>
            <input type="text" class="form-control " id="name" required>
          </div>
  
          
  
          <button type="submit" class="btn btn-success">Enviar</button>
          <br>
        </form> 
    </div>
  
    <br>
    <div class="container marco">          
          <form>         
            <div class="form-group">
              <label for="power">Recibir</label>
              <select class="form-control" id="power" required>
                <option *ngFor="let pow of tipoBilletera" [value]="pow">{{pow}}</option>
              </select>
            </div>  
          </form>
          <br>
      </div>
  
  
    </div>

  </div>