<section class="centrar">

    <br>
    <br>
    <br>
    <br>
  <h4>Preguntas Frecuentes</h4>
  <br>
  <details>
    <summary>¿Qué es Bitcoin?</summary><br>
    <p> Bitcoin es una red consensuada que permite un nuevo sistema de pago y una moneda completamente digital. Es la primera red entre pares de pago descentralizado impulsado por sus usuarios sin una autoridad central o intermediarios. Desde un punto de vista de usuario, Bitcoin es como dinero para Internet. Bitcoin puede ser el único sistema de contabilidad triple existente.
      </p>
  </details>
  <details>
    <summary>¿Cómo funciona Bitcoin?</summary><br>
    <p class>Desde la perspectiva del usuario, Bitcoin es una aplicación móvil o de escritorio que provee un monedero Bitcoin personal y permite al usuario enviar y recibir bitcoins con el. Así es como funciona Bitcoin para la mayoría de los usuarios. La red Bitcoin comparte una contabilidad pública llamada "block chain". Esta contabilidad contiene cada transacción procesada, permitiendo verificar la validez de cada transacción. La autenticidad de cada transacción esta protegida por firmas digitales correspondientes a las direcciones de envío, permitiendo a todos los usuarios tener control total al enviar Bitcoins desde sus direcciones Bitcoin. Además, cualquiera puede procesar una transacción usando el poder computacional de hardware especializado y conseguir una recompensa en Bitcoins por este servicio. Esto es comúnmente llamado "mining" o minería. Para aprender más sobre Bitcoin, puedes consultar la página dedicada y el documento original.
            </p>
  </details>
  <details>
    <summary>¿Cuales son las ventajas de Bitcoin?</summary><br>
    
      <ul>
        <li>Libertad de pagos - Con Bitcoin, podrá enviar y recibir cualquier cantidad de dinero instantáneamente desde y hacia cualquier lugar del mundo, en cualquier momento. Sin bancos con horarios. Sin fronteras. Sin límites impuestos. Los usuarios de Bitcoin siempre tienen un completo control sobre su dinero.</li>
        <li>Tasas muy bajas - Los pagos con Bitcoin son actualmente procesados con tasas bajas o sin tasa alguna. Los usuarios pueden incluir una tasa en sus transacciones para recibir prioridad en el procesamiento de estas, lo que resulta en una confirmación más rápida de las transacciones por parte de la red. Además, los procesadores mercantiles están para asesorar en los procesos de transacción a los comerciantes, convirtiendo bitcoins a la moneda fiduciaria y depositando fondos directamente en la cuenta bancaria del comerciante diariamente. Como estos servicios están basados en Bitcoin, son ofrecidos con cargos mucho más bajos que los que ofrecen PayPal o las redes de tarjetas de crédito.</li>
        <li>Menores riesgos para los comerciantes - Las transacciones con Bitcoin son seguras, irreversibles, y no contienen datos personales y privados de los clientes. Esto protege a comerciantes contra pérdidas ocasionadas por el fraude o devolución fraudulenta, y no es necesario el cumplimiento de las normas PCI. Asimismo, los comerciantes pueden operar en nuevos mercados en los que las tarjetas de crédito no están disponibles o los niveles de fraude sean demasiado elevados. Esto conlleva a mejores comisiones, mercados más extensos y menos costes administrativos.</li>
        <li>Seguridad y control - Los usuarios de Bitcoin tienen completo control sobre sus transacciones; es imposible que los comerciantes fuercen cargos no deseados o detectados, como puede suceder con otros métodos de pago. Los pagos de Bitcoin pueden realizarse sin que estén asociados a información de carácter personal. Esto ofrece un alto nivel de protección contra el robo de identidad. Los usuarios de Bitcoin también pueden proteger su dinero con copias de seguridad y encriptación.</li>
        <li>Neutral y transparente - Toda la información sobre el suministro de Bitcoin esta disponible en la cadena de bloques para cualquiera que quiera verificarlo y usarlo. Ningún individuo u organización puede controlar o manipular el protocolo Bitcoin porque es criptográficamente seguro. Se puede confiar en Bitcoin por ser completamente neutral, transparente y fiable.</li>
        </ul>
    
  </details>		
  <details>
    <summary>¿Puede Bitcoin escalar hasta convertirse en una red de pagos de referencia? </summary><br>
    <p>
      La red Bitcoin puede procesar muchísimas más transacciones por segundo de las que procesa hoy en día. Aún así, no esta preparada para saltar al nivel de las grandes tarjetas de crédito. Se está trabajando para elevar las limitaciones actuales y los requerimientos del futuro son bien conocidos. Desde la creación, cada aspecto de la red Bitcoin ha estado en un continuo proceso de maduración, optimización y especialización, y debería esperarse que permanezca de esa forma en los próximos años. Mientras el tráfico crece, mas usuarios de Bitcoin usarán clientes más ligeros y los nodos de la red ofrecerán un mejor servicio. Para mas información, visita la página de la wiki sobre Escalabilidad.
    </p>
  </details>
  <details>
    <summary>¿Por qué tienen valor los bitcoins?</summary><br>
    <p>
      Los Bitcoins tienen valor porque son útiles como moneda. Tiene las características del dinero (durabilidad, portabilidad, fungibilidad, escasez, divisibilidad y reconocibilidad) basado en propiedades matemáticas en vez de confiar en propiedades físicas (como el oro y la plata) o confiar en autoridades centralistas (como las monedas fiduciarias). Abreviando, Bitcoin esta respaldado por las matemáticas. Con estos atributos, todo lo que necesita esta clase de dinero para mantener su valor es confianza y adopción. En el caso de Bitcoin, podemos medirlo con su crecimiento en usuarios, comerciantes y empresas nacientes. Como cualquier moneda, el valor del Bitcoin se consigue sola y directamente de la gente que quiere aceptarlo como pago.
    </p>
  </details>

  

  <br clear="all">
	
</section>

